<!DOCTYPE html>
<html>

<head>
    <title>블라인드 IOT</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>블라인드 IOT</h1>

    <div id="currentTime"></div>

    <div class="button-wrapper">
        <p>자동 수동 모드</p>
        <button id="autoBtn">자동</button>
    </div>

    <div class="button-wrapper">
        <p>AI</p>
        <button id="AIBtn">AI 모드</button>
    </div>

    <div class="button-wrapper">
        <p>Up</p>
        <button id="upBtn">올리기</button>
    </div>

    <div class="button-wrapper">
        <p>Down</p>
        <button id="downBtn">내리기</button>
    </div>

    <div class="button-wrapper">
        <p>모드 설정</p>
        <button id="modeBtn">주간 모드</button>
    </div>
    <p id="info">주간 모드는 빛을 감지했을 때 블라인드를 올립니다.</p>
    <p id="info">야간 모드는 빛을 감지했을 때 블라인드를 내립니다.</p>
    <script src="static/script.js"></script>
</body>

</html>